$black: #000000;
$darkGreen: #6f926e;
$aquamarine: #7fffd4;
$white: white;

$fontSizeBig: rem(48px);
$fontSizeMedium: rem(36px);
$fontSizeSmall: rem(16px);

$fontWeightNormal: 500;

$borderNormal: 2px solid var(--black);
