body {
  --blackOp: rgba(0, 0, 0, 0.938);
  --mint: #6f926e;
  --brightMint: #7fffd4;
  --white: white;

  --fontSizeBig: 50px;
  --fontSizeMedium: 36px;
  --fontSizeSmall: 16px;

  --fontWeightNormal: 500;
}
